.notification{
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .notificationItem{
    position: relative;
    top: 10vh;
    margin-top: 2vh;
    height:4vh;
    
  }
  .switchBox{
    height: 4vh;
  }
  .notificationInputBox{
    height:3vh;
    width:15vw;
    text-align: center;
    margin-right: 5vw;
    vertical-align: top;
 }
 .buttonSubmit{
    position: absolute;
    left: 70%;
    top:70%;
    padding: 10px 10px 10px 10px;
    background-color: green;
    text-align: center;
    border: 0px;
    font-size: 15px;
}
.buttonCancel{
    position: absolute;
    left: 50%;
    top:70%;
    padding: 10px 10px 10px 10px;
    background-color: red;
    text-align: center;
    border: 0px;
    font-size: 15px;
}