.setting{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: brown;
    text-align: center;
}
.settingItem
{
    position: relative;
    top: 10vh;
    margin-top: 4vh;
    height:15px;
}
.textBox{
    position: relative;
    margin-right: 40px;
    height: 15px;
    width: 90px;
    text-align: center;
}
.inputBox{
    position: relative;
    margin-right: 40px;
    height: 15px;
    width: 180px;
    text-align: center;
}
.buttonSubmit{
    position: absolute;
    left: 70%;
    top:70%;
    padding: 10px 10px 10px 10px;
    background-color: green;
    text-align: center;
    border: 0px;
    font-size: 15px;
}