html, body, #root{
  height: 100%;
  width: 100%;
}
.App{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f35d71;
}

.dabba1{
  position: absolute;
  text-align: center;
  height:20%;
  width :100%;
  background-color: aqua;
}
.dabba2{
  position: absolute;
  top:20%;
  height: 80%;
  width: 15%;
  background-color: #F3DC5D;
}
.dabba3{
  position: absolute;
  top:20%;
  left: 15%;
  height: 80%;
  width: 85%;
  background-color: rgb(32, 211, 235);;
}
.rootMenu{
  margin-top: 5px;
  position: relative;
  text-align: left;

}
.rootHead{
  
  position: relative;
  left: 1vw;
}
.rootChildList
{
  position: relative;
  left:2vw;
  top:3px;
}
.rootChildButton{
  border: 0px;
  width: 8vw;
  height:1.5vw;
  text-align: center;
}
.rootHeadButton{
  background-color: bisque;
  border: 0px;
  width: 10vw;
  height:2vw;
  text-align: center;
  font-weight: bold;
  
}